.home-background {
  color: white;
  object-fit: contain;
  background-size: "cover";
  background-image: url("../../assets/images/home_background.jpg");
  background-position: center center;
  height: 90vh;
}

.home-contents {
  display: flex;
  flex-direction: row;
  height: 80vh;
  align-items: center;
  margin: 0px 150px;
}

.home-description{
  font-size: 15px;
  margin-right: 50px;
}

h1 {
  font-weight: 300;
  font-size: 52px;
}

.home-illustration{
 
}
