
* {
  font-family: montserrat, sans-serif;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
  padding: 15px;
}

.home-description {
  margin: 0px 250px;
  font-size: 17px;
  text-align: center;
}


.navbar {
  /* Anmimation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

nav.bg-light {
  box-shadow: 0px 3px 3px #88888838;
}

/* Navbar */
.nav-wrapper{
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.event-title{
  font-size: 55px;
}
.events {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding-top: 80px;
}
.event {
  width: 100%;
  height: 355px;
  margin-top: 10px;
  box-shadow: 0px 0px 4px #5454552f;
}
.event:hover {
  box-shadow: 0px 0px 4px #4e45fc;
}
.event-register-container {
  display: flex;
}
.event-register-btn {
  margin-left: auto;
}

/* Events component */
.card-container {
  object-position: center;
  padding: 5px;
}
.card-img-top {
  height: 22vh;
  object-position: 0% 30%;
  object-fit: cover;
}

/* Faculty */
img.faculty-profile-img {
  width: fit-content;
  border-radius: 60px;
}
.faculty-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
}
.faculty-title {
  font-weight: 300;
  font-size: 23px;
}
.faculty-desc {
  margin-left: 2px;
}
.faculty-pos {
  margin-top: 5px;
  color: rgb(114, 114, 114);
}
.about-faculty-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faculty-container{
  
}

/* Lead */
.member-container {
  margin-top: 10px;
}
.member-body {
  object-fit: contain;
  padding: 10px;
  height: 19vh;
}
.member-desc-wrapper {
  display: flex;
}
.member-social-link {
  margin-left: auto;
  margin-top: 5px;
}

/* About */
.about-container {
  padding-top: 50px;
}
.about-body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: auto;
}
.about-nav-items {
  margin: 0px 7px;
  padding: 5px;
  font-size: 19px;
}
.about-nav-items:hover {
  border-bottom: 2px solid #4e45fc;
  cursor: pointer;
}
.about-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
.about-nav .active {
  border-bottom: 2px solid black;
}

/* Contact */
.contact-container {
  background-image: url("./assets/images/contactbg-illust.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.form-container{
  margin:25px 50px;
  padding: 20px;
  background-color: white;
  width: 30vw;
}

@media only screen and (max-width: 600px) {
  .form-container{
    margin:25px 0px;
    padding: 20px;
    background-color: white;
    width: 100%;
  }

  .home-description {
    margin: 0px 17px;
    font-size: 17px;
    text-align: center;
  }

  .container-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .member-body{
    object-fit: contain;
    padding: 7px;
    width:fit-content;
    height: 19vh;
  }
  
}

/* Footer */
.container-mobile{
  display: flex;
}
.footer-logos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .col{
  margin-top: 20px;
}
