@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: montserrat, sans-serif;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
  padding: 15px;
}

.home-description {
  margin: 0px 250px;
  font-size: 17px;
  text-align: center;
}

.navbar{
  /* Anmimation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

nav.bg-light{
  box-shadow: 0px 3px 3px #88888838;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

.events-container{
  background-color: whitesmoke;
}
.events{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.event{
  width: 100%;
  box-shadow: 0px 0px 10px #88888838 ;
}
